<!-- BREADCRUMB  start-->
<div id='breadcrumb' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <ul class='breadcrumb-tree'>
                    <li><a href='/'>Trang chủ</a></li>
                    <li><a href='/user/sign-up'>Đăng Ký</a></li>
                    <li class='active'>Thành công</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB  end-->

<!-- LOGIN start-->
<div class='login'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-6 mx-auto'>
                <div class='login-form'>
                    <form action='/user/sign-in' method='post'>
                        <div class='row'>
                            <legend class='text-center noti'>
                                {{message}}
                            </legend>
                            <a class='mx-auto text-center' href='/'>Quay lại trang chủ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN end-->