/*=========================================================
	01 -> GENERAL
===========================================================*/
/*----------------------------*\
	Typography
\*----------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333; }

/*=========================================================
	02 -> HEADER
===========================================================*/
/*----------------------------*\
	Top header
\*----------------------------*/
#top-header {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #1e1f29; }

.header-links {
  margin: 0; }

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px; }

.header-links li:last-child {
  margin-right: 0; }

.header-links li a {
  color: #fff; }

.header-links li a:hover {
  color: #d10024; }

.header-links li i {
  color: #d10024;
  margin-right: 5px; }

/*----------------------------*\
	Logo
\*----------------------------*/
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161d; }

.header-logo {
  float: left; }

.header-logo .logo img {
  display: block;
  width: 15rem; }

/*----------------------------*\
	Search
\*----------------------------*/


a {
  color:white; 
}

a {
  font-size: 14px; /* Kích thước chữ là 14px */
}

.footer a {
  text-decoration: none; /* Loại bỏ gạch chân cho các liên kết trong footer */
}

.footer {
  border-top: 1px solid #ccc; /* Đường kẻ giữa phần footer và phần còn lại của trang web */
  margin-top: 20px; /* Tạo một khoảng cách 20px giữa footer và phần còn lại của trang web */
  padding-top: 20px; /* Hoặc sử dụng padding thay vì margin nếu bạn muốn thêm khoảng cách bên trong footer */
}

