{{! Top Header }}
<div id='top-header'>
    <div class='container d-flex justify-content-between'>
        <ul class='header-links'>
            <li><a href='#'><i class='fa-solid fa-phone-volume'></i>
                    +021-95-51-84</a></li>
            <li><a href='#'><i class='fa-regular fa-envelope'></i>
                    abcxyz@gmail.com</a></li>
            <li><a href='#'><i class='fa-solid fa-location-dot'></i>
                    xx Hai Bà Trưng, Hà Nội</a></li>
        </ul>
        <ul class='header-links'>
            <li><a href='#'><i class='fa-solid fa-dollar-sign'></i>
                    USD</a></li>
            <li><a href='/user/my-account'><i class='fa-regular fa-circle-user'></i>
                    My Account</a></li>
        </ul>
    </div>
</div>

{{! MAIN HEADER }}
<div id='main-header'>
    <div class='container'>
        <div class='row d-flex align-items-center'>
            {{! LOGO }}
            <div class='col-md-3'>
                <div class='header-logo'>
                    <a href='/' class='logo'><img src='/img/logo.png' alt='ElectroHub' /></a>
                </div>
            </div>

            {{! SEARCH BAR }}
            <div class='col-md-4'>
                <div class='header-search' role='search'>
                    <form>
                        <input class='input-search' type='search' placeholder='Bạn cần tìm gì ?' aria-label='Search' maxlength='100' />
                        <button class='btn-search' type='submit'><i class='fa-solid fa-magnifying-glass'></i></button>
                    </form>
                </div>
            </div>

            {{! ACCOUNT }}
            <div class='col-md-5'>
                <div class='header-ctn d-flex justify-content-between'>
                    {{! Delivery Tracking }}
                    <div>
                        <button class='btn btn-dark delivery-tracking'>
                            <i class='fa-solid fa-truck-fast'></i>
                            Tra cứu đơn mua
                        </button>
                    </div>

                    {{! Cart }}
                    <div class='btn-group'>
                        <button type='button' class='btn btn-dark dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'>
                            <i class='fa-solid fa-cart-shopping'></i>
                            Giỏ hàng
                        </button>
                        <ul class='dropdown-menu'>
                            <li><a class='dropdown-item' href='/cart'>Giỏ hàng</a></li>
                            <li><a class='dropdown-item' href='/cart/checkout'>Thanh toán</a></li>
                            <li><a class='dropdown-item' href='#'>Something else here</a></li>
                            <li><hr class='dropdown-divider' /></li>
                            <li><a class='dropdown-item' href='#'>Separated link</a></li>
                        </ul>
                    </div>

                    {{! Account }}
                    <div class='btn-group'>
                        <button type='button' class='btn btn-dark dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'>
                            <i class='fa-regular fa-circle-user'></i>
                            Tài Khoản
                        </button>
                        <ul class='dropdown-menu'>
                            <li><a class='dropdown-item' href='/user/sign-in'>Đăng Nhập</a></li>
                            <li><a class='dropdown-item' href='/user/sign-up'>Đăng Ký</a></li>
                            {{! <li><hr class='dropdown-divider' /></li> }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{! NAVIGATION }}
<nav class='navbar navbar-expand-lg'>
    <!-- container -->
    <div class='container'>
        <!-- responsive-nav -->
        <div id='navbarNav responsive-nav' class='collapse navbar-collapse'>
            <!-- NAV -->
            <ul class='main-nav nav navbar-nav'>
                <li class='nav-item active'><a href='#' class='nav-link'>Trang chủ</a></li>
                <li class='nav-item'><a href='/store/Ti vi' class='nav-link'>Ti vi</a></li>
                <li class='nav-item'><a href='/store/Loa - Âm thanh' class='nav-link'>Loa - Âm thanh</a></li>
                <li class='nav-item'><a href='/store/Tủ lạnh' class='nav-link'>Tủ lạnh</a></li>
                <li class='nav-item'><a href='/store/Quạt' class='nav-link'>Quạt</a></li>
                <li class='nav-item'><a href='/store/Điều hòa nhiệt độ' class='nav-link'>Điều hòa nhiệt độ</a></li>
                <li class='nav-item'><a href='/store/Máy lọc nước' class='nav-link'>Máy lọc nước</a></li>
                <li class='nav-item'><a href='/store/Bình nóng lạnh' class='nav-link'>Bình nóng lạnh</a></li>
                <li class='nav-item'><a href='/store/Máy giặt' class='nav-link'>Máy giặt</a></li>
                <li class='nav-item'><a href='/store/Bếp từ, hồng ngoại' class='nav-link'>Bếp từ, hồng ngoại</a></li>
            </ul>
        </div>
    </div>
</nav>