{{!BREADCRUMB  start}}
<div id='breadcrumb' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <ul class='breadcrumb-tree'>
                    <li><a href='/'>Trang chủ</a></li>
                    <li class='active'>Quên mật khẩu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{!BREADCRUMB}}

{{! Login Start }}
<div class='login'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-6 mx-auto'>
                <div class='login-form'>
                    <form action='/user/recover-password' method='post'>
                        <div class='row'>
                            <legend class='text-center'>Quên mật khẩu</legend>
                            <div class='col-md-6 mx-auto'>
                                <label for='email'>Email</label>
                                <br />
                                <i class='text-danger'>{{message}}</i>
                                <input
                                    id='email'
                                    name='email'
                                    class='form-control mt-3'
                                    type='text'
                                    placeholder='Nhập email của bạn vào đây'
                                />
                            </div>
                            <div class='col-md-12 text-center mt-3'>
                                <button class='btn btn-outline-danger'>Gửi mật
                                    khẩu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{! Login End }}