<main id='main'>
    <div class='header'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='navbar'>
                        <ul class='navbar-nav'>
                            <li class='nav-item d-flex'>
                                <a href='/store/Ti vi'>Ti vi</a>,
                                <a href='#/store/Loa - Âm thanh'>Loa - Âm thanh</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>